{% extends "niunius/base.html" %}
{% block content %}
    <div class="row">
    <div class="col-3 container"></div>
    <div class="col-6 container">
    <h2>Zaloguj się</h2><hr>
        {% if form.errors %}
            <p>Nazwa użytkownika i/lub hasło są nieprawidłowe. Spróbuj ponownie.</p>
        {% endif %}

    <form method="post" action="{% url 'login' %}">
        {% csrf_token %}
        <table>
            <tr>
                <td>Nazwa użytkownika: </td>
                <td>{{ form.username }}</td>
            </tr>
            <tr>
                <td>{{ form.password.label_tag }}</td>
                <td>{{ form.password }}</td>
            </tr>
        </table>
        <br><br>
        <input type="submit" class="btn btn-warning" value="zaloguj">
        <input type="hidden" name="next" value="{{ next }}">
    </form>
    </div>
    <div class="col-3 container"></div>
    </div>
{% endblock %}
