{% load static %}
<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="icon" type="image/png" href="{% static 'niunius/img/favicon.png' %}"/>
    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1" crossorigin="anonymous">
    <link rel="canonical" href="https://getbootstrap.com/docs/3.4/examples/sticky-footer-navbar/">
    <link rel="stylesheet" href="{% static 'niunius/css/style.css' %}" />

    <title>Niuniuś</title>
</head>

<body>
<nav class="navbar navbar-expand-lg navbar-dark bg-dark p-2">
  <div class="container-fluid">
    <a class="navbar-brand" href="{% url 'home' %}">NIUNIUŚ</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          {% url 'home' as home %}
          {% url 'blog' as blog %}
          {% url 'shop' as shop %}
          {% url 'contact' as contact %}
        <li class="nav-item">
          <a class="nav-link {% if request.path == blog %}active{% endif %}" href="{% url 'about' %}">o klubie</a>
        </li>
        <li class="nav-item">
          <a class="nav-link {% if request.path == blog %}active{% endif %}" href="{% url 'blog' %}">blog</a>
        </li>
        <li class="nav-item">
          <a class="nav-link {% if request.path == shop %}active{% endif %}" href="{% url 'shop' %}">sklep</a>
        </li>
        <li class="nav-item">
          <a class="nav-link {% if request.path == blog %}active{% endif %}" href="{% url 'car-service' %}">warsztat</a>
        </li>
        <li class="nav-item">
          <a class="nav-link {% if request.path == contact %}active{% endif %}" href="{% url 'contact' %}">kontakt</a>
        </li>
      </ul>

        {% if request.user.is_superuser%}
            <a target="_blank" class="btn btn-outline-warning" href="{% url 'admin:index' %}">admin</a>
        {% endif %}
    {% block auth %}
        {% if request.user.is_authenticated %}
            <a class="btn btn-outline-warning" href="{% url 'logout' %}">wyloguj się</a>
        {% else %}
            <a class="btn btn-outline-warning" href="{% url 'login' %}?next={{ request.path }}">zaloguj się</a>
            <a class="btn btn-outline-warning" href="{% url 'register' %}?next={{ request.path }}">zarejestruj się</a>
        {% endif %}
    {% endblock %}

    </div>
  </div>
</nav>

<section class="p-5">
{% block content %}
<div class="text-center">
    <img src="{% static 'niunius/img/logo.jpg' %}" class="img-fluid" alt="logo">
</div>
{% endblock %}
</section>

<footer class="footer">
      <div class="container">
          {% block music %}
          <!--
          SURPRISE :-) Congratulations if you are reading this.
          If you uncomment the below code, you will hear a very special "home-made" piece of music.
          -->
          <!--
          <div>
            <audio loop controls>
                <source src="{% static 'niunius/music/song.m4a' %}" type="audio/mpeg">
            </audio>
            <small style="color: white">by Niuniuś Band :-)</small>
          </div>
          -->
          {% endblock music %}
      </div>
</footer>


    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49"
        crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy"
        crossorigin="anonymous"></script>
    <script src="{% static 'niunius/js/app.js' %}"></script>
</body>
</html>
