{% extends "niunius/shop.html" %}
{% block title %}{% endblock %}
{% block content-shop %}
<div class="col-7 p-2" style="background: lightgray">
    <h3>{{ car.name }}</h3>
    <div class="row p-2">
        <div class="col">
            <img class="img-fluid" src="{{ car.image.url }}" alt="car">
        </div>
        <div class="col">
            <h5>Produkty:</h5>
            <ul>
            {% for product in car.product_set.all %}
                <li><a href="{% url 'product' product.slug %}">{{ product.name }}</a></li>
            {% endfor %}
            </ul>
        </div>
    </div>
</div>
{% endblock %}
