{% extends "niunius/shop.html" %}
{% block title-shop %}{% endblock %}
{% block content-shop %}
<div class="col-7 p-3" style="border: solid darkorange; position: relative">
    <h3>{{ car.name }}</h3>
    <hr>
    <div class="row p-2">
        <div class="col"  id="image">
            <img class="img-fluid" src="{{ car.image.url }}" alt="car">
        </div>
        <div class="col">
            <h5>Produkty:</h5>
            <ul>
            {% for product in car.get_available_products %}
                <li><a href="{% url 'product' product.slug %}">{{ product.name }}</a></li>
            {% endfor %}
            </ul>
        </div>
    </div>
</div>
{% endblock %}
