{% extends "niunius/shop.html" %}
{% block title %}<h3>Zamówienie #{{ order.pk }} - podsumowanie</h3>{% endblock %}
{% block content-shop %}
    <div class="col-7 p-2" style="background: lightgray; position: relative">
    <div class="row">
        <div class="col">
            <h4>Dane kupującego</h4>
            <p><strong>imię: </strong>{{ order.buyer.first_name }}</p>
            <p><strong>nazwisko: </strong>{{ order.buyer.last_name }}</p>
            <p><strong>email: </strong>{{ order.buyer.email }}</p>
            <h4>Adres dostawy</h4>
            <p><strong>kraj: </strong>{{ order.address_country }}</p>
            <p><strong>ulica: </strong>{{ order.address_street }}</p>
            <p><strong>kod pocztowy: </strong>{{ order.address_zipcode }} <strong>miasto: </strong>{{ order.address_city }}</p>

        </div>
        <div class="col">
            <h4>Produkty</h4>
            <ol>
                {% for i in items %}
                <li>{{ i.product.name }} {{ i.quantity }} szt. {{ i.value }} zł</li>
                {% endfor %}
            </ol>
            <p>Razem do zapłaty: <strong>{{ order.cart.order_total }} zł</strong></p>
        </div>
    </div>
    <div class="row">
        <p style="color: red">
            {{ payment_msg }}
        </p>
    </div>
    </div>
{% endblock %}