{% extends "niunius/base.html" %}
{% block content %}
<div class="container">
<div class="row p-4"></div>
<div class="row p-4">
    <div class="col-4"></div>
    <div class="col-4">
        <form method="post" action="{% url 'login' %}">
            {% csrf_token %}
            {{ form.as_p }}
            {% if request.GET.next %}
                <input type="hidden" name="next" value="{{ request.GET.next }}">
            {% endif %}
            <input type="submit" class="btn btn-primary" value="zaloguj">
        </form>
    </div>
    <div class="col-4"></div>
</div>
</div>
{% endblock %}
