{% extends "niunius/shop.html" %}
{% block title-shop %}{% endblock %}
{% block content-shop %}

<style>
    input[type=number]::-webkit-inner-spin-button {
    opacity: 1
    }
</style>
<div class="col-7 p-3" style="border: solid #e3632d; position: relative">
    <ol>
    {% for i in items %}

        <li><span>{{ i.product.name }} &nbsp;&nbsp;&nbsp;</span>
            <form style="display: inline" method="post" action="">
                {% csrf_token %}
                <input type="hidden" name="product" value="{{ i.product_id }}">
                <input style="width: 46px; height: 27px" type="number" min="1" step="1" max="{{ i.product.stock }}" name="qty" value="{{ i.quantity }}">
                <input type="submit" value="Przelicz">
            </form>
            <span>&nbsp;&nbsp;&nbsp;{{ i.value }} zł</span>
            <form style="display: inline" method="post" action="{% url 'delete-item' i.id %}">
                {% csrf_token %}
                <input style="float: right" type="submit" value="Usuń">
            </form>
        </li>
        <br>
    {% empty %}
    <p>Twój koszyk jest pusty</p>
    {% endfor %}
    </ol>

{% if total %}
    <p style="position: absolute; bottom: 0;">
        <strong>Razem do zapłaty:&nbsp;&nbsp;&nbsp;</strong> {{ total }} zł&nbsp;&nbsp;&nbsp;
    </p>
{% endif %}

</div>
    {% if total %}
    <div class="row">
        <div class="col-4"></div>
        <div class="col-7"><br>
            {% if request.user.is_authenticated %}
            <a style="width: fit-content; float: right" class="btn btn-warning" href="{% url 'order' %}">Zamów</a>
            {% else %}
            <a style="width: fit-content; float: right" class="btn btn-warning" href="{% url 'guest-order' %}">Zamów</a>
            {% endif %}
        </div>
    </div>
    {% endif %}
{% endblock  %}
