{% extends "niunius/base.html" %}
{% load static %}
{% block content %}

<div class="row" style="float:right;">
    <p>
        <a href="{% url 'shopping-cart'  %}">Twój koszyk</a>
        <a href="{% url 'shopping-cart'  %}"><img class="very-small-img" src="{% static 'niunius/img/shopping_cart.png' %}"></a>
    </p>
</div>
<div class="row p-3" style="text-align: center">
    <div class="col-3">
        <form action="{% url 'search' %}" method="get">
            <input name="query" type="text" placeholder="Szukaj...">
        </form>
    </div>
    <div class="col-1"></div>
    <div class="col-7">
        {% block title-shop %}
            <h2>Nowości</h2>
        {% endblock %}
    </div>
    <div class="col-1"></div>
</div>
<div class="row">
    <div class="col-3 p-3" style="border: solid darkorange">
        <h3>Model auta</h3>
            {% for car in cars %}
                <p><a href="{% url 'car' car.slug %}">{{car.name}}</a></p>
            {% endfor %}
    <hr>
        <h3>Kategoria</h3>
            {% for category in categories %}
                <p><a href="{% url 'category' category.slug %}">{{category.name}}</a></p>
            {% endfor %}
    </div>
    <div class="col-1"></div>
    {% block content-shop %}
    <div class="col-7 p-3" style="border: solid darkorange; position: relative">

            <table>
                <tr class="row">
                    {% for p in latest_products %}
                    <td class="col-4"  id="image">
                        <img class="img-fluid img-thumbnail " src="{{ p.image.url }}" alt="product">
                        <p><a href="{% url 'product' p.slug %}">{{ p.name }}</a></p>
                    </td>
                    {% endfor %}
                </tr>
            </table>

    </div>
    {% endblock %}
    <div class="col-1"></div>
</div>
{% endblock %}
{% block music %}{% endblock %}